* {
  font-family: 'Spline Sans Mono', monospace,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  background-color: rgb(18, 45, 134)!important;
  padding: 50px;
  padding-top: 10px;
}


form label {
  color: rgb(255, 255, 255);
}

.title_app {
  background-image: url(./images/logo-1.jpg);
  border: 1px solid rgb(70, 77, 53);
  border-radius: 0.25rem;
  color: rgb(178, 187, 156);
  font-weight: bolder;
  padding: 10px;
  text-align: center;
}

.subtitle_app {
  font-size: 0.6rem!important;
}

.logo {
  width: 100%;
  border: 1px solid rgb(70, 77, 53);
}

input {
  background-color: rgb(163, 176, 221);
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  margin-left: 10px!important;
  margin-top: 10px!important;
  width: 250px;
}

.card {
  background-color: rgb(163, 176, 221)!important;
  margin-left: 0;
  margin-right: 20px;
  margin-top: 25px;
  width: 350px;
}

.card-header {
  background-color: rgb(78, 103, 194)!important;
  color: rgb(255, 255, 255);
  justify-content: space-between;
}

.card-header .row_player_detail{
  font-size: 0.6rem!important;
}

.card-header .row_player_detail span {
  font-weight: bolder;
  justify-content: space-between;
}


.card-title {
  color: rgb(71, 109, 71);
  font-size: 2rem!important;
  font-weight: bold!important;
  text-align: center;
}

.card_lastgame {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.6rem!important;
  justify-content: space-between;
}

.card_lastgame span {
  font-weight: bolder;
}

.card_score .row{
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7rem;
}

.card_score .col {
  margin: 10px;
  margin-top:0;
  padding: 0;
}

.right {
  text-align: right;
}

.card_close {
  border: none;
  background-color: transparent;
  color: white;
  padding: 0;
  margin: 0;
}


.grid {
  display: flex;
  flex-wrap: wrap;
}

.score_img {
  width: 24px;
}

.score_text {
  font-size: 0.8rem;
  font-weight: bolder;
}