* {
  font-family: "Roboto";
  font-family: 'Spline Sans Mono', monospace,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body{
  padding: 60px;
  background-color: #e2dede!important;
}

input {
  color: gray;
  font-size: 1.3rem;
  width: 250px;
  margin-left: 10px!important;
}

.card {
  background-color: rgb(234, 238, 234)!important;
  margin: 10px;
  width: 450px;
}

.card-header {
  background-color: rgb(171, 213, 230)!important;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}
