* {
  font-family: 'Spline Sans Mono', monospace,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body{
  background-color: rgb(203, 230, 236)!important;
  padding: 60px;
}

form label {
  color: rgb(171, 183, 207);
}

.title_app {
  background-color: rgb(171, 213, 230);
  background-image: url(./images/logo-1.jpg);
  border: 1px solid rgb(48, 110, 126);
  border-radius: 0.25rem;
  color: rgb(171, 183, 207);
  font-weight: bolder;
  padding: 10px;
  text-align: center;
}

.logo {
  width: 100%;
  border: 1px solid rgb(48, 110, 126);
}
input {
  color: gray;
  font-size: 1.3rem;
  margin-left: 10px!important;
  margin-top: 10px!important;
  width: 250px;
}

.card {
  background-color: rgb(234, 238, 234)!important;
  margin-left: 0;
  margin-right: 20px;
  margin-top: 25px;
  width: 325px;
}

.card-header {
  background-color: rgb(171, 213, 230)!important;
}

.card-title {
  color: green;
  font-size: 2rem!important;
  font-weight: bold!important;
  text-align: center;
}

.card_lastgame {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.6rem!important;
  justify-content: space-between;
}

.card_lastgame span {
  font-weight: bolder;
}

.card_score {
  display: flex;
  flex-wrap: wrap;
}

.card_score p {
  margin-right: 30px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.score_img {
  width: 24px;
}

.score_text {
  font-size: 0.8rem;
}